/* Typography */



body {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 200;
    position: relative;
    color:#424242;
    letter-spacing: 0.05em;
}

section {
    margin-left: 10%;
    margin-right: 10%;
}


h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    color: black;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 150%;
}

p {
    font-weight: 300;
    font-size: 1 em;
    font-style: normal;
    line-height: 150%;
}

caption {
    font-size: .08em;
}

/* Jumbotron */
.chevron-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5%;
        padding-top: 5%;
        
}


img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


/* Navbar */
.navbar {
    background-color: #f92940;
    height: 80px;
  }

.navbar .navbar-brand {
    color: #ffffff;
  }

  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #000000;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #000000;
  }

  .nav-link {
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.1em;
    color: white;
}

.nav-link:hover {
    color: black;
}

.nav-link:active {
    color: black;
}

/*Mission*/
.about .about-slider img {
    width: 100%;
    height: auto;
}

/*CAUSES*/
.card {
    border: 0;
    border-radius: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-body {
    background-color: black;
}

.btn-link {
    color: #f92940;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 1.5em;
}

.btn-link:hover {
    color: rgb(209, 0, 0);
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.btn-link:hover {
    color: black);
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
}

/* Body Blocks */
.container {
    padding-top: 5%;
}

.px-4 {
    padding-left: .5;
    padding-right: .5;
}

.pr-4 {
    padding-right: .5;
}

.pl-4 {
    padding-left: .5;
}

.pl-7 {
    padding-left: .5;
}

.py-12 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

.mx-1 {
    margin-left: 10%;
    margin-right: 10%;
  }

/* Find your Chapter */
.input-group{
    height: 66px;
}

.btn-primary {
    background-color: #f92940;
    border: none;
}

.btn-primary:hover{
    background-color: rgb(209, 0, 0);
    border: none;
}

.btn-primary:active {
    background-color: black;
}



/*Footer*/
.footer {
    background: black;
    padding-bottom: 5%;
}

.foot-link {
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.1em;
    color: white;
    display: block;
    padding: .5rem 1rem;
    }

.foot-link:hover {
    color: red;
    text-decoration: none;
}

.foot-link:active {
    color: red;
}

.foot {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

hr { 
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    height: 4px;
    background-color: #f92940;
}

/* Media Queries */
@media (max-width: 768px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2.25em;
    }

    h4 {
        font-size: 2em;
    }
    
    h5 {
        font-size: 1.75em;
    }

    h6 {
        font-size: 1em;
    }

  }
